
.auth-wrapper{
    height: 300px;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: solid;
    background-color: var(--red-background);
}

.auth-container{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--black-background);
}

.auth-inputs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    margin-top: 20px;
}

.input-container{
    width: 200px;
}

.input-container>input{
    width: 100%;
    box-sizing: border-box;
}

.auth-submit-button{
    width: 90px;
    height: 40px;
    border: none;
    margin: 10px;
    font-size: medium;
    font-weight: 550;
    color: white;
    background-color: black;
    border-radius: 10px;
}

.auth-submit-button:hover{
    cursor: pointer;
}

.auth-mode-label{
    font-size: 25px;
}

.auth-info-label{
    font-size: 17px;
}

.auth-input{
    border: solid black 2px;
    border-radius: 5px;
    height: 30px;
    background-color: beige;
}

.auth-input:focus{
    outline-style: solid;
}