.header{
    position: fixed;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    border-bottom: solid;
    height: 80px;
    align-items: center;
    background-color: blue;
    box-sizing: border-box;
}

.header-login-container,
.header-welcome-container{
    display: flex;
    align-items: center;
    border: solid;
    height: 30px;
    margin-right: 20px;
}

.account-button{
    width: 70px;
    height: 23px;
    border: none;
}

.header-logo-container{
    width: 60px;
    height: 60px;
    margin-left: 10px;
    border: solid 2px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-logo{
    height: 80%;

}